BODY {
    margin: 0;
    padding: 0;
}

H1 {
    text-align: center;
}

TABLE {
    width: 100%;
    max-width: 768px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

TH, TD {
    padding: 0.5em;
}

TH.HEADING {
    background-color: #80A0FF;
    column-span: all;
    text-align: center;
}

TD.LABEL {
    text-align: right;
}

INPUT[type=text],
INPUT[type=password],
SELECT {
    width: 95%;
    padding: 0.5em;
}

.WIDE {
    width: 50%;
    padding: 0.5em 0;
}

.CENTER {
    text-align: center;
}

.hidden {
    display: none;
}

.memory-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

.memory-actions button {
    width: 2em;
    height: 2em;
}

.memory-edit-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px grey;
    border-style: solid none;
}

.memory-edit-div.hidden {
    display: none;
}
